<div class="col-xs-12 col-sm-9"></div>
<div class="col-xs-12 col-sm-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">Edit User Form </span>
		</div>
		<div class="panel-body">
			<form name="userForm" ng-submit="submit()" class="form-horizontal">
				<input type="hidden" ng-model="user.password" />
				<div class="form-group col-xs-10">
					<label class="col-xs-3 col-xs-offset-1" for="userId">User
						ID</label>
					<div class="col-xs-8">
						<input type="text" ng-model="user.userId" id="userId"
							class="form-control input-sm" ng-minlength="3" ng-disabled="true" />

					</div>
				</div>
				<div class="form-group col-xs-10">
					<label class="col-xs-3 col-xs-offset-1" for="userName">User
						Name</label>
					<div class="col-xs-8">
						<input type="text" ng-model="user.userName" id="userName"
							class="form-control input-sm" placeholder="Enter user name"
							required ng-minlength="3" />

					</div>
				</div>
				<div class="form-group col-xs-10">
					<label class="col-xs-3 col-xs-offset-1" for="address">Address</label>
					<div class="col-xs-8">
						<input type="text" ng-model="user.address.address" id="address"
							class="form-control input-sm" placeholder="Enter address"
							required />


					</div>
				</div>
				<div class="form-group col-xs-10">
					<label class="col-xs-3 col-xs-offset-1" for="city">City</label>
					<div class="col-xs-8">
						<input type="text" ng-model="user.address.city" id="city"
							class="form-control input-sm" placeholder="Enter city" required />

					</div>
				</div>
				<div class="form-group col-xs-10">
					<label class="col-xs-3 col-xs-offset-1" for="email">Email
						Id</label>
					<div class="col-xs-8">
						<input type="email" ng-model="user.address.emailId" id="email"
							class="form-control input-sm" placeholder="Enter email Id"
							required />
						<div ng-show="userForm.email.$error.email"
							class="alert alert-danger">
							<strong>Error!</strong> Invalid Email Id.
						</div>
					</div>
				</div>

				<div class="form-group col-xs-10 col-xs-offset-3">
					<input type="submit" value="Submit" class="btn btn-primary btn-sm"
						ng-disabled="userForm.$invalid">
					<button type="button" ng-click="reset()"
						class="btn btn-warning btn-sm" ng-disabled="userForm.$pristine">Reset
						Form</button>

				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-xs-3"></div>
<div class="col-xs-9">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">List of Users</span>
		</div>
		<div class="tablecontainer">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>User ID</th>
						<th>User name</th>
						<th>Address</th>
						<th>City</th>
						<th>Email ID</th>
						<th width="30%"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="!users">
						<td>No Users found.</td>
					</tr>
					<tr ng-show="u" ng-repeat="u in users">
						<td><span ng-bind="u.userId"></span></td>
						<td><span ng-bind="u.userName"></span></td>
						<td><span ng-bind="u.address.address"></span></td>
						<td><span ng-bind="u.address.city"></span></td>
						<td><span ng-bind="u.address.emailId"></span></td>
						<td>
							<button type="button" ng-click="edit(u.userId)"
								class="btn btn-success custom-width">Edit</button>
							<button type="button" ng-click="remove(u.userId)"
								class="btn btn-danger custom-width">Delete</button>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>